/* CSS Styling for all Common Pages */

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 140%;
  background-color: #efefef;
}

/* home page */

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

#content {
  min-height: 170px;
  padding: 0;
  background-color: #fff;
}

/* Header CSS*/
header.main {
  width: 100%;
  height: 170px;
  position: relative;
  background-color: #fff;
  clear: both;
}

div.image {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
}

div.image img {
  width: 100%;
  height: auto;
}

/* Footer CSS*/
footer.main {
  height: 185px;
  padding: 30px 0;
  text-align: center;
  line-height: 40px;
  font-size: 80%;
  background-color: #000;
  color: #fff;
}

/* Navigation CSS
------------------------------------------------------------- */
/* common in all ul */
ul.menu {
  padding: 0;
  margin: 0;
}

ul.menu li {
  list-style-type: none;
}

ul.menu li {
  display: inline-block;
}

/* header util navigation */
header nav.util ul {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  text-align: right;
}

header nav.util ul a {
  padding: 0 15px;
  color: #000;
}

header nav.util ul a:hover,
header nav.util ul a:active {
  color: #c53337;
}

/* header main navigation */
header nav.main ul {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: auto;
  text-align: right;
}

header nav.main ul a {
  padding: 0 20px;
  color: #000;
  text-transform: uppercase;
  font-size: 1.25em;
}

header nav.main ul a:hover,
header nav.main ul a:active {
  color: #c53337;
}

/*Footer navigation*/

/* FOOTER NAV */

nav.footer1 ul,
nav.footer2 ul,
nav.footer3 ul {
  margin: 0 auto;
}

nav.footer1 ul a,
nav.footer2 ul a,
nav.footer3 ul a {
  padding: 0 20px;
  color: #fff;
}



/*------------------------------------*/

/*CSS for about page*/

div.image_col {
  width: 200px;
  height: 170px;
  /* text-align: center; */
  overflow: hidden;
}
