/* Home Page Custom CSS*/

/*SLider CSS*/
img.d-block{
	opacity: 1;
}

div.carousel-caption{
	position: absolute;
	top: 200px;
}

div.carousel-caption h2{
	font-size: 36px;
	margin-bottom: 30px;
}
div.carousel-caption a{
	border: 2px solid #c53337;
	background-color: #c53337;
	color: #fff;
	padding: 8px 20px;
	font-size: 24px;
}

/*best sellers product*/

.best_sellers h2{
	margin:50px;
	text-align: center;
	color: #c53337;
}
.card-deck{
	margin-left: 12px;
	margin-right: 12px;
}

p.price{
	position: absolute;
	right:0;
	background-color: rgba(236, 57, 57, 0.6);
	padding: 8px 40px;
	font-size: 20px;
	color: #fff;
}

p.img_caption{
	background-color: rgba(25, 25, 25, 0.6);
	padding: 8px 40px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

p.card-text1{
	color: #c53337;
	border: 2px solid;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 20px;
}

div.more{
	text-align: center;
}


/*Second mini slider*/
.testimonials{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #c53337;
	color: #fff;
	text-align: center;
	padding: 30px;
}

.testimonials p{
	padding: 30px;
}

.testimonials h5{
	padding-bottom: 15px;
}

/*stats div*/
.container{
	margin-bottom: 50px;
}
.row{
	text-align: center;
	color: #c53337;
	padding-bottom: 30px;
}

/* --------------------------- Media Queries --------------------- */

/*Media Queries for ipad*/
@media screen and (max-width: 768px) {
	div.carousel-caption{
		position: absolute;
		top: 110px;
	}
}


/*Media Queries for Mobile*/
@media screen and (max-width: 375px) {

}