/* CSS Styling for all Common Pages */


body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 140%;
	background-color: #efefef;
}
div,header,footer,nav{
	box-sizing: border-box;
}
/* home page */

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;	
	overflow: hidden;
}

#content {
	min-height: 200px;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
}

/* Header CSS*/
header.main {
	width: 100%;
	height: 170px;
	position: relative;
	background-color: #fff;
	clear: both;
	border-bottom: 2px solid #c53337;
	overflow: hidden;
} 

div.image{
	width: 200px;
	height: 170px;
	float: left;
	overflow: hidden;
}

div.image img{
	width: 100%;
	height: auto;
	overflow: hidden;
}

/* Footer CSS*/
footer.main {
	height: 185px;
	padding: 30px 0;
	text-align: center;
	line-height: 40px;
	font-size: 80%;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

/* Navigation CSS
------------------------------------------------------------- */
/* common in all ul */
ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li {
	display: inline-block;
}

/* header util navigation */
header nav.util ul{
	position: absolute;
	top: 30px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.util ul a {
	padding: 0 15px;
	color: #000;
}

header nav.util ul a:hover,
header nav.util ul a:active
 {
	color: #c53337; 
}

/* header main navigation */
header nav.main ul{
	position: absolute;
	bottom: 20px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.main ul a{
	padding: 0 20px;
	color: #000;
	text-transform: uppercase;
	font-size: 1.25em;
}

header nav.main ul a:hover,
header nav.main ul a:active
{
	color: #c53337;
}

/*toogle menu*/
a.menu_toggle {
	display: none;
}


/*Footer navigation*/

/* FOOTER NAV */

nav.footer1 ul, 
nav.footer2 ul, 
nav.footer3 ul {
	margin: 0 auto;

}

nav.footer1 ul a, 
nav.footer2 ul a, 
nav.footer3 ul a {
	padding: 0 20px;
	color: #fff;
}

/* --------------------------- Media Queries --------------------- */

/*Media Queries for ipad*/
@media screen and (max-width: 768px) {
	a.menu_toggle {
		display: block;
		width: 44px;
		height: 50px;
		position: absolute;
		right: 40px;
		bottom: 10px;
		background-image: url('blossom_fantasy/menu-black.png');
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
	nav.main{
		display: none;
	}

	nav.main ul.menu{
		display: block;
		position: absolute;
		top: 165px;
		z-index: 10000;
	}

	nav.main ul.menu li {
		display: block;
		padding: 5px;
		text-align: left;
	}

	nav.main ul.menu li a{
		color: #fff;
	}
	footer{
		height: auto !important;
	}
}


/*Media Queries for Mobile*/
/*@media screen and (max-width: 375px) {
	footer{
		height: 250px !important;
	}
	a.menu_toggle {
		display: block;
		width: 44px;
		height: 50px;
		position: absolute;
		right: 40px;
		bottom: 10px;
		background-image: url('blossom_fantasy/menu-black.png');
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
	
}*/