/*Common CSS for terms and Conditoins page and Privacy Page*/

#content{
	padding: 50px 50px 50px 80px;
}

div#content h1{
	color: #c53337;
	text-align: center;
	margin-bottom: 50px;
}

/*CSS for terms and Conditoins page*/

.terms{
	border: 2px solid #c53337;
	border-radius: 15px;
	background-color: rgba(236, 57, 57, 0.2);
	padding: 50px;
}

div#content h2{
	color: #c53337;
}

/*CSS for privacy Page*/

div.privacy li{
	font-size: 24px;
	font-weight: bold;
	color: #c53337;
}