/* CSS of Cart Page */
div#cart2{
	text-align: right;
}


.cart_info{
	padding: 30px;
	border-top: 2px solid #000;

}

a.sign_in{
	color: #c53337;
	font-size: 20px;
	font-weight: bold;
}

a:hover .signin{
	columns: #c53337;
	text-decoration: underline;
}

div#primary{
	margin-top: 20px;
	margin-bottom: 60px;
}
/*item detail*/
.product_detail{
	border-bottom: 2px solid #cfcfcf;
}

.item{	
	padding-left: 20px;
}

.info_div{
	margin-top: 40px;
}

/*order deatis and checkout button*/
.btn-primary{
	background-color: #EC3939;
	border: 2px solid #EC3939;
	width: 100%;
}

div.price_detail{
	border: 2px solid #c53337;
	border-radius: 20px;
	padding:20px;
}

.price{
	color: #c53337;
	font-weight: bold;
}

.order_total,.price_disc{
	border-bottom: 2px solid #cfcfcf;
}

.save{
	text-align: center;
	padding: 12px;
	color: #c53337;
}
.delivery{
	padding: 20px;
}

.remove{
	margin-left: 10px;
}

