#categories{
	min-height: 142px;
	background: #EC3939;
	width: 100%;
	margin: 0 auto;
}



.row{
	margin-left: 10px;
	margin-bottom: 20px;
}

div #categories ul{
	padding: 0;
	margin: 0;
}

div #categories ul li{
	padding: 0 20px;
	margin: 0;
	list-style-type: none;
	display: inline-block;
}

div #categories ul li a{
	color: #fff;
	text-decoration: none;
	border: 2px solid #3E3E3E;
	background-color: #3E3E3E;
	padding: 12px 15px;
	line-height: 142px;
	width: 100%;
	margin: 0 auto;
}

div #pages ul{
	padding: 0;
	margin: 0;
}

div #pages ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
}

div #pages ul li a{
	padding: 12px;
	line-height: 142px;
}
#primary {
	padding: 15px;
	background-color: #FFF;
}

#secondary{
padding-top: 10px;
}

.btn-primary{
	background-color: #EC3939;
	border: 2px solid #EC3939;
	width: 100%;
}

.price{
	color: #EC3939;
}

.card-body{
	background-color: rgba(196, 196, 196, 0.5);
}

div#img_name p{
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(196, 196, 196, 0.5);
	padding: 2px;
}