
/* CSS Styling for all Common Pages */


body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 140%;
	background-color: #efefef;
}

/* home page */

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
}

#content {
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

/* Header CSS*/
header.main {
	width: 100%;
	height: 170px;
	position: relative;
	background-color: #fff;
	clear: both;
} 

div.image{
	width: 200px;
	height: 170px;
	float: left;
}

div.image img{
	width: 100%;
	height: auto;
}

/* Footer CSS*/
footer.main {
	height: 185px;
	padding: 30px 0;
	text-align: center;
	line-height: 40px;
	font-size: 80%;
	background-color: #000;
	color: #fff;
}

/* Navigation CSS
------------------------------------------------------------- */
/* common in all ul */
ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li {
	display: inline-block;
}

/* header util navigation */
header nav.util ul{
	position: absolute;
	top: 30px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.util ul a {
	padding: 0 15px;
	color: #000;
}

header nav.util ul a:hover,
header nav.util ul a:active
 {
	color: #c53337;
}

/* header main navigation */
header nav.main ul{
	position: absolute;
	bottom: 20px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.main ul a{
	padding: 0 20px;
	color: #000;
	text-transform: uppercase;
	font-size: 1.25em;
}

header nav.main ul a:hover,
header nav.main ul a:active
{
	color: #c53337;
}

/*Footer navigation*/

/* FOOTER NAV */

nav.footer1 ul, 
nav.footer2 ul, 
nav.footer3 ul {
	margin: 0 auto;

}

nav.footer1 ul a, 
nav.footer2 ul a, 
nav.footer3 ul a {
	padding: 0 20px;
	color: #fff;
}

/* BLOCK LAYOUT
------------------------------------------------------------- */

/* Content */


div.callout {
	display: relative;
	padding: 0;
	padding-bottom: 30px;
}

div.callout div img {
	width: 100%;
	height: auto;
}

div.caption {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #0164AA;
	color: #fff;
	padding: 0;
	display: block;
	width: 100%;
}

div.callout > div {
	position: relative;
	overflow: hidden;
}

div.callout .caption {
	background: transparent;
}

div.callout .caption a {
	text-shadow: 1px 1px 1px #000;
}

div.caption a {
	color: #fff;
	line-height: 50px;
	margin-left: 10px;
}

div#primary {
	padding: 0;
	background-color: #FFF;
}


.alignleft {
	float: left;
	max-width: 100%;
}


h1 {
	margin-bottom: 20px;
}
h2.price{
	color: #c53337;
}


div.right{
	border: 1px solid #cfcfcf;
	box-sizing: border-box;
    max-height: 100%
}
div.row{
	padding: 14px;
}

div.illust{
	border: 1px solid #cfcfcf;
	box-sizing: border-box;	
	position: relative;
	bottom: 11px;
	border-top: none;
	padding-right: 5px; 		
}

.bt1{
   position: relative;
   left: 180px
   
}

.bt2{
	position: relative;
	left: 190px;

}
div.bt{
	border-bottom:1px solid #cfcfcf;
	box-sizing: border-box;
}
.btn{
	position: relative;
	bottom:  10px;
}

#secondary{
padding-top: 10px;
}

