/*order details at right side of page */
div.price_list{
	border: 2px solid #c53337;
	border-radius: 20px;
	padding:20px;
}

div.price_detail{
	margin-bottom: 50px;
}

.price{
	color: #c53337;
	font-weight: bold;
}

.order_total,.price_disc{
	border-bottom: 2px solid #cfcfcf;
}

.save{
	text-align: center;
	padding: 12px;
	color: #c53337;
}

/*form Css*/

div#cart1{
	padding: 50px 60px;
}

div.item{
	padding-left: 40px;
}

.btn-primary{
	background-color: #EC3939;
	border: 2px solid #EC3939;
	width: 100%;
	margin-top: 20px;
}

div.item label{
	font-size: 20px;
	padding: 10px 0;
}

.field_imp{
	color: #c53337;
}

fieldset,fieldset.fieldset{
	border: 2px solid #c53337;
	padding:20px 40px ;
	margin-bottom: 50px;
	border-radius: 20px;
}

/* CSS for Login Page */
.item{
	margin-right: 50px;
}

.not_account{
	margin-bottom: 30px;
	margin-left: 10px;
}

/* CSS for Register Page */
fieldset.fieldset{
	padding-top: 30px;
	padding-bottom: 30px;
}

.register{
	margin-right: 50px;
	margin-left: 50px;
}