/* CSS Styling for all Common Pages */


body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 140%;
	background-color: #efefef;
}
div,header,footer,nav{
	box-sizing: border-box;
}
/* home page */

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
}

#content {
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

/* Header CSS*/
header.main {
	width: 100%;
	height: 170px;
	position: relative;
	background-color: #fff;
	clear: both;
	border-bottom: 2px solid #c53337;
} 

div.image{
	width: 200px;
	height: 170px;
	float: left;
	overflow: hidden;
	border-bottom: 2px solid #C53337;
}

div.image img{
	width: 100%;
	height: auto;

	overflow: hidden;

}

nav.navbar{
	display: inline-block;
    position: absolute;
    right: 15px;
    top: 80px;
    z-index: 9999 !important;
    background-color: #EC3939 !important;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.9);
}

nav.navbar div.div-toggle{
	text-align: right;
}

.navbar-light .navbar-toggler {
    border-color: #1D1D1D;
}

nav.navbar li.nav-item a.nav-link{
	color: #FFF;
	font-size: 1.2em;
	padding-right: 1rem;
    padding-left: 1rem;
}

nav.navbar li.nav-item a.nav-link:hover{
	color: #FFF;
	text-decoration: underline;
}

nav.navbar li.active a.nav-link{
	color: #1D1D1D;
	text-decoration: underline;
}

nav.navbar form button.btn,
nav.navbar form button.btn:active{
	background-color: #1D1D1D !important;
	border-color: #FFF !important;
	color: #FFF !important;
}

nav.util div.dropdown-menu{
	z-index: 999999;
    box-shadow: 2px 3px 4px rgba(0,0,0,.5);
}

li.cart {
	position: relative;
}

li.cart span {
	position: absolute;
    right: 15px;
    top: -15px;
    background-color: #1D1D1D;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.8em;
}

/* Footer CSS*/
footer.main {
	height: 185px;
	padding: 30px 0;
	text-align: center;
	line-height: 40px;
	font-size: 80%;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

/* Navigation CSS
------------------------------------------------------------- */
/* common in all ul */
ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li {
	display: inline-block;
}

/* header util navigation */
header nav.util ul{
	position: absolute;
	top: 30px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.util ul a {
	padding: 0 15px;
	color: #000;
}

header nav.util ul a:hover,
header nav.util ul a:active
 {
	color: #c53337; 
}

/* footer navigation */
nav.footer1 li.active-footer-nav a{
	color: #c53337;
	text-decoration: underline; 
}

nav.footer3 li.active-footer-nav a{
	color: #c53337;
	text-decoration: underline; 
}

/* header main navigation */
header nav.main ul{
	position: absolute;
	bottom: 20px;
	right: 0;
	width: auto;
	text-align: right;
}

header nav.main ul a{
	padding: 0 20px;
	color: #000;
	text-transform: uppercase;
	font-size: 1.25em;
}

header nav.main ul a:hover,
header nav.main ul a:active
{
	color: #c53337;
}

/*toogle menu*/
a.menu_toggle {
	display: none;
}


/*Footer navigation*/

/* FOOTER NAV */

nav.footer1 ul, 
nav.footer2 ul, 
nav.footer3 ul {
	margin: 0 auto;

}

nav.footer1 ul a, 
nav.footer2 ul a, 
nav.footer3 ul a {
	padding: 0 20px;
	color: #fff;
}

.div-login,
.div-register{
	margin: 50px auto;
}

.div-login .card,
.div-register .card{
	border: 1px solid #EC3939;
	box-shadow: 4px 5px 7px rgba(0,0,0,0.5);
}

.div-login .card-header,
.div-register .card-header{
	background-color: #EC3939;
	color: #FFF;
	font-size: 1.4em;
}

a.copy{
	text-decoration: none;
}

/* --------------------------- Media Queries --------------------- */

/*Media Queries for ipad*/
@media screen and (max-width: 768px) {
	a.menu_toggle {
		display: block;
		width: 44px;
		height: 50px;
		position: absolute;
		right: 40px;
		bottom: 10px;
		background-image: url('blossom_fantasy/menu-black.png');
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
	nav.main{
		display: none;
	}

	nav.main ul.menu{
		display: block;
		position: absolute;
		top: 165px;
		z-index: 10000;
	}

	nav.main ul.menu li {
		display: block;
		padding: 5px;
		text-align: left;
	}

	nav.main ul.menu li a{
		color: #fff;
		text-decoration: uppercase;
	}
	footer{
		height: auto !important;
	}
}

@media screen and (max-width: 440px){
header nav.util ul{
	position: relative;
	top: 0;
}
header nav.util ul li{
	display: block;

}

header nav.util ul li.dp{
	padding-bottom: 15px;
}
li.log{
	margin-right: 20px;
}
}

